[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Android ADB File Manager
Name[pt_BR]=Android ADB File Manager
Comment=File manager of Android ADB
Comment[pt_BR]=Gerenciador de arquivos do Android ADB
Exec=aafm %u
Icon=aafm
Categories=Anbox;

